.block-list {
  display: flex;
  flex-direction: column-reverse;
    margin-bottom: 60px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.block-done{
    display: flex;
    flex-direction: column-reverse;
}

.block-list-count {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
