.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

body {
    font-family: "Roboto", sans-serif;
    background: rgb(13, 7, 20);
}

.container {
    position: relative;
    padding: 30px;
    width: 583px;
    border-radius: 20px;
    margin: 0 auto;
    background: rgb(29, 24, 37);
}

.app {
    padding: 10px;
    width: 432px;
    margin: 0 auto;

    border-radius: 10px;
}

.icon-loading {
    display: block;
    margin: 0 auto;
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.online, .offline {
    position: absolute;
    top: 20px;
    font-size: 10px;
    left: 20px;
}

.online {
    color: green;
}

.offline {
    color: tomato;
}
